<div class="flex gap-16 content--sm">
  <div class="img-tweet">
    <%= current_user.avatar.attached? ? image_tag(current_user.avatar) : image_tag("Imageanonymus.png") %>
  </div>
  <%= form_with model: [@tweet, comment] do |form| %>
    <div class="input__container flex-col bg-white">
      <%= form.text_area :body, placeholder: "Remember to thing before write...", class:'input__content'%>
      <div class="cta__button-input">
        <%= form.submit "Comment", class: "btn btn--small" %>
      </div>
    </div>

  <% end %>
</div>