
<%= form_with model: tweet do |form| %>
  <div class="input__container flex-col bg-white">
    <%= form.text_area :body, placeholder: "Remember to thing before write...", class:'input__content'%>
    <div class="cta__button-input">
      <%= form.submit "Edit", class: "btn btn--small" %>
    </div>
  </div>
<% end %>