.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  gap: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding: 8px 16px;
  background-color: var(--cyan);
  border: none;
  border-radius: 4px;
  width: 83px;
  height: 40px;
  cursor: pointer;
}


.btn--small {
  font-size: 14px;
  line-height: 16px;
  padding: 6px 10px;
  text-decoration: none;
  background: var(--cyan);
  color: var(--white);
  border-radius: 100px;
}

.btn--small2 {
  font-size: 14px;
  line-height: 16px;
  padding: 6px 10px;
  text-decoration: none;
  background-color: var(--white);
  border: var(--cyan) 1px solid;
  color: var(--cyan);
  border-radius: 100px;
  text-align: center;
}

.btn-holder {
  justify-content: flex-end;
  display: flex;
}